.cart-section {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    border: 1px solid cadetblue;
}

.cart-list {
    list-style: none;
    padding-left: 0;
}

.cart-list li {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-list button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.cart-list button:hover {
    background-color: #c62828;
}

.add-to-cart {
    background-color: cadetblue;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart:hover{
    background-color: #3c7173;
}

.add-to-cart:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#suche {
    margin-bottom: 20px;
}

